@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF8E7; /* Warna Krem */
  --foreground: #166534; /* Warna Hijau Tua */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}